main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

#header {
    padding-top: 1rem;
}

#header-container {
    align-items: center;
}

#cart-items {
    color: #040C13;
    display: none;
    font-size: 1rem;
    font-weight: bold;
}

.rating span {
    margin: 0.1rem;
}

body {
    background-color: #f0f2f4;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 200px;
    padding: 30px;
    margin: 40px;
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
}

.carousel button,
.carousel button.active {
    color: transparent;
    opacity: 0;
}

.carousel a {
    margin: 0 auto;
}

.card {
    align-items: center;
    height: 350px;
}

.card-title {
    color: #0457C8;
}

.card-img-top {
    max-height: 250px;
    max-width: 250px;
    margin-left: auto;
    width: auto;
}

.card-body {
    padding: 1.25rem 10px;
}

.cart-item-list-item {
    margin-bottom: 2rem;
}

#cart-icon {
    padding-right: 15px;
}

.cart-item-title {
    padding: 1rem;
}

.cart-item-total-price {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1.5rem 1rem;
    text-align: right;
}

.subtotal {
    height: auto;
}

.cart-total span {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}

.search-box input {
    border-radius: 10px;
    padding-left: 15px;
}

#username {
    padding-left: 15px;
}

.visually-hidden {
    display: none;
    opacity: 0;
}

.back-arrow {
    font-size: 2rem;
}

.product-price .card {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    height: auto;
}

.thumbnail {
    width: 50%;
}

.white-background {
    background-color: #fff;
}

.form-control {
    padding: 0;
}

.product-image {
    margin: 0 15px;
}

.price-text {
    font-weight: bold;
    font-size: 1.8rem;
}

.add-to-cart {
    background-color: #FFE000;
    color: #040C13;
    font-size: 1.1rem;
    text-transform: none;
}

.list-group {
    width: 100%;
}

.out-of-stock {
    color: #eb0f0f;
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.9vw;
    }
}

@media (min-width: 768px) {

    .product-image,
    .product-spec,
    .product-price {
        padding: 0;
    }

    .product-image {
        margin: 0;
    }

    .product-row {
        margin: 0;
    }

    .thumbnail {
        width: 75%;
    }

    .subtotal .card {
        height: auto;
    }

    .cart-item-title {
        padding: 0;
    }

    .cart-item-total-price {
        font-size: 1.5rem;
        padding: 0;
    }

}

@media (min-width: 992px) {
    #header {
        font-size: 1rem;
    }

    #cart-icon {
        position: relative;
    }

    #cart-items {
        background-color: #FFE000;
        border-radius: 25px;
        position: absolute;
        top: 3px;
        right: -2px;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {

    #cart-icon {
        position: relative;
    }

    #cart-items {
        background-color: #FFE000;
        border-radius: 25px;
        position: absolute;
        top: 3px;
        right: -2px;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
    }

    .cart-item-total-price {
        padding-right: 15px;
    }

    .cart-item-list-item {
        padding: 1.25rem 1rem;
    }

    .search-box {
        width: 40%;
    }

    .list-group {
        height: 100%;
    }

    .product-description {
        height: 100%;
    }

    .card-img-top {
        height: 225px;
        max-height: 225px;
        max-width: 225px;
        margin-left: auto;
        width: auto;
    }

    .thumbnail {
        width: 60%;
    }
}